name: Healthcheck

on:
  push:
    branches:
    - main
  schedule:
    - cron: "0 12 * * *"

jobs:
  run_healthcheck_job:
    runs-on: ubuntu-20.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v3
        with:
          url: https://bloglist-5jdq.onrender.com/health
      - name: Telegram failure notification
        if: ${{ failure() }}
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Healthcheck failed

            See service: https://bloglist-5jdq.onrender.com
      - name: Telegram success notification
        if: ${{ success() }}
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Healthcheck finished successfully

            See service: https://bloglist-5jdq.onrender.com
